<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Text Summerizer</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}">
  <style type="text/css">
    *{
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }
    
  </style>
</head>
<body onload="slider()" style="background-color:#282e09;">

  <section>
  <div class="banner" >
    <div class="slider">
      <img src="{{ url_for('static', filename='slider2.jpg') }}" id="slideImg">      
    </div>
    <div class="overlay" style=" background: linear-gradient(rgb(0,0,0,0.7),rgba(0,0,0,0.7));">
      <div class="main-bar">
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <span></span>
        <span></span>
        <span></span>
      </label>
      <div class="logo-header">
        <a href="#">NLP-ToolKit</a>       
      </div>
      <ul>
        <li class="active"><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="{{ url_for('summarizerPage') }}">Text-Summarizer</a></li>
        <li><a href="#">Text-Classifier</a></li>
        <!--<li><a href="#">Grammer Checker</a></li>-->
        <li><a href="#">Text-Predictor</a></li>
      </ul>
    </nav>
  </div>
  <div class="content">
    <h1>Welcome to Natural Language Processing!</h1>
    <h3></h3>  
      <div>
        <button type="button">Summarize! </button>
        <button type="button" class="btn-2">Hello</button>
      </div>
      </div>
    </div>
  </div>
</section>
    
    <!--**************************   Team Section ************************-->

  <section class="team" id="about" style="background-image: -webkit-linear-gradient(#282e09, #1e113c);">
    <h1 class="ha">Our Team Members</h1>
    <div class="container">
      <div class="card">
        <div class="bg-image">
          <img src="{{ url_for('static', filename='slider2.jpg') }}">
        </div>
        <div class="pic">
          <img src="{{ url_for('static', filename='teacher_3.jpg') }}">
        </div>
        <div class="info">
          <h3>Shubham kumar</h3>
          <span> <i class="fas fa-code"></i> Web Designer</span>
          <p>fbj f vjej dnvi jdnven nfvif eicew</p>
          <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="bg-image">
          <img src="{{ url_for('static', filename='slider2.jpg') }}">
        </div>
        <div class="pic">
          <img src="{{ url_for('static', filename='teacher_2.jpg') }}">
        </div>
        <div class="info">
          <h3>Dipan Das</h3>
          <span> <i class="fas fa-code"></i> Web Designer</span>
          <p>fbj f vjej dnvi jdnven nfvif eicew</p>
          <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>
      </div>


      <div class="card">
        <div class="bg-image">
			<img src="{{ url_for('static', filename='slider2.jpg') }}">
        </div>
        <div class="pic">
          <img src="{{ url_for('static', filename='teacher_2.jpg') }}">
        </div>
        <div class="info">
          <h3>Anmol Gupta</h3>
          <span> <i class="fas fa-code"></i> Web Designer</span>
          <p>fbj f vjej dnvi jdnven nfvif eicew</p>
          <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="bg-image">
          <img src="{{ url_for('static', filename='slider2.jpg') }}">
        </div>
        <div class="pic">
          <img src="{{ url_for('static', filename='teacher_1.jpg') }}">
        </div>
        <div class="info">
          <h3>Tanay Joshi</h3>
          <span> <i class="fas fa-code"></i> Web Designer</span>
          <p>fbj f vjej dnvi jdnven nfvif eicew</p>
          <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="bg-image">
			<img src="{{ url_for('static', filename='slider2.jpg') }}">
        </div>
        <div class="pic">
			<img src="{{ url_for('static', filename='teacher_3.jpg') }}">
        </div>
        <div class="info">
          <h3>Ansh Makkar</h3>
          <span> <i class="fas fa-code"></i> Web Designer</span>
          <p>fbj f vjej dnvi jdnven nfvif eicew</p>
          <div class="icons">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-github"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>
      </div>
    </div>
      
   
   
  </section>
  

  <script>
    var slideImg = document.getElementById("slideImg");
    var images = new Array(
        "{{ url_for('static', filename='slider4.jpg') }}",
        "{{ url_for('static', filename='slider2.jpg') }}",
        "{{ url_for('static', filename='slider1.jpg') }}",
        "{{ url_for('static', filename='slider3.jpg') }}",
       
      );
      var len = images.length;
      var i = 0;

      function slider(){
        if (i > len-1) {
          i = 0;
        }
        slideImg.src = images[i];
        i++;
        setTimeout('slider()',3000);
      }

  </script> 

</body>
</html>